<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="utility.ListenerSetup"></listener>
		<listener class-name="utility.ExtentReporter"></listener>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="testLayer.TestDuobedPages"/>
      <class name="testBaseLayer.TestBase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
